.section {
    width: 100%;
    max-width: 1400px;
    margin: 30px 0;
    padding: 20px 0;
    scroll-margin-top: 70px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.img {
    width: 250px;
}

.head {
    font-weight: 700;
}

.container_img {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container_about {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h2_about {
    text-align: center;
    color: #000;
    font-weight: 800;
    font-size: 2em;
}

.parrafo_about {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 940px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .container_about, .container_img {
        width: 90%;
        text-align: center;
    }
}

@media (max-width: 670px) {
    .head {
        font-size: 14px;
    }

    .parrafo_about {
        font-size: 16px;
    }

    .h2_about {
        font-size: 1.6em;
    }
}

@media (max-width: 420px) {
    /* .container_about {
        width: 250px;
    } */
    .parrafo_about {
        font-size: 14px;
    }
}