.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background: #000000;
}

.container {
    /* display: flex;
    flex-direction: column; */
}

.contac {
    display: flex;
    flex-direction: row;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}