.section {
    width: 100%;
    max-width: 1400px;
    margin: 30px 0;
    padding: 20px 0;
    scroll-margin-top: 70px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #000;
}

.container_proyects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
}

.proyects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 45%;
}

.img {
    width: 350px;
}

.img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.name_proyect {
    font-size: 20px;
    font-weight: 700;
}

.description {
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 670px) {
    .h2 {
        font-size: 2.3rem;
    }

    .proyects {
        width: 90%;
    }
}

@media (max-width: 470px) {
    .img {
        width: 250px;
    }
}